#!/bin/rc

# COMPILE
CC=cc
CXX=c++
LD=$CC
AR=ar
RANLIB=ranlib
YACC=(yacc -d)
#YACC=(byacc -d)

# COMPILE FLAGS
CPPFLAGS=(-D_DEFAULT_SOURCE -D_BSD_SOURCE -D_GNU_SOURCE -D_FILE_OFFSET_BITS'='64)
CFLAGS=-Os
LDFLAGS=-static
LOCALE=en_US.utf8

# ENV PATH
DBDIR=/var/pkg/local

# COMPILE PATH
PREFIX=''
BINDIR=$"PREFIX/bin
LIBDIR=$"PREFIX/lib
ETCDIR=$"PREFIX/etc
DFLDIR=$"ETC/default
DRTDIR=$"PREFIX/share
MANDIR=$"DRTDIR/man
INCDIR=$"PREFIX/include

# TOOLS
AWK=awk
SED=sed
TAR=(pax -x ustar -w)
UNTAR=(pax -x ustar -r)
PACK=(venus-ar -c)
COMPRESS=(lzip -9)
FETCH=(curl -Lo)
CKSUM=(venus-cksum -w)
SU=true
INSTALL=/usr/bin/install
STRIP=strip

# UNCOMPRESSION TOOLS
BZ2=(bzip2 -dc)
GZ=(pigz -dc)
LZ=(lzip -dc)
XZ=(xz -dc)
ZZ=(pigz -dc)

# OTHERS
pkgsuf=pkg.vlz
nprocs=2
