#!/bin/rc

# COMPILE
CC=cc
CXX=c++
LD=$CC
AR=ar
RANLIB=ranlib
YACC=(yacc -d)
#YACC=(byacc -d)

# COMPILE FLAGS
CPPFLAGS=(-D_DEFAULT_SOURCE -D_BSD_SOURCE -D_GNU_SOURCE -D_FILE_OFFSET_BITS=64)
CFLAGS=-Os
LDFLAGS=-static
LOCALE=en_US.utf8

# COMPILE TOOLS
PKG_CONFIG=pkgconf
NINJA=samu

# ENV PATH
DBDIR=/var/pkg/local

# COMPILE PATH
PREFIX=''
BINDIR=$"PREFIX/bin
LIBDIR=$"PREFIX/lib
ETCDIR=$"PREFIX/etc
DFLDIR=$"ETCDIR/default
DRTDIR=$"PREFIX/share
MANDIR=$"DRTDIR/man
INCDIR=$"PREFIX/include

# TOOLS
AWK=awk
SED=sed
TAR=(pax -x ustar -w)
UNTAR=(pax -r)
PACK=(venus-ar -c)
COMPRESS=(lzip -9)
FETCH=(curl -Lo)
CKSUM=(venus-cksum -w)
SU=doas
INSTALL=/usr/bin/install
STRIP=strip

# COMPRESSION TOOLS
BZ2=(bzip2 -9)
GZ=(pigz -9)
LZ=(lzip -9)
XZ=(xz -9)
ZZ=(pigz -z9)

# UNCOMPRESSION TOOLS
UBZ2=(bzcat)
UGZ=(pigz -dc)
ULZ=(lzip -dc)
UXZ=(xzcat)
UZZ=(pigz -dc)

# OTHERS
pkgsuf=vlz
nprocs=2
