#!/bin/rc
#
. $PORTS/mk/meth/cfg.rc

CONFIGURE='./configure'
OBDIR=true

switch ($PORTSYS_MK_FLAGS) {
case *'nobuilddir'*
	OBDIR=false
}

if ($ONODIR) {
	dir=$"PORTSYS_TMP_BUILDDIR
	mkdir $"dir
	cd $"dir
	CONFIGURE='../configure'
}

if ($static) {
	static=yes
	shared=no
}; if not {
	static=no
	shared=yes
}

if (~ $"1 *install*) {
	make -- DESTDIR=$"DESTDIR $*
}; if not @{
	if (! test -n $"PREFIX) PREFIX='/'
	chmod +x $CONFIGURE
	env -i -- $PORTSYS_METH_ENV  \
	    $CONFIGURE               \
	    --prefix=$"PREFIX        \
	    --bindir=$"BINDIR        \
	    --sbindir=$"BINDIR       \
	    --libdir=$"LIBDIR        \
	    --includedir=$"INCDIR    \
	    --oldincludedir=$"INCDIR \
	    --datarootdir=$"DRTDIR   \
	    --mandir=$"MANDIR        \
	    --enable-shared=$"shared \
	    --enable-static=$"static \
	    $PORTSYS_METH_FLAGS
	if (test -f 'libtool' && ~ $"static 'yes') {
		_L=($_L -all-static)
		make -- LDFLAGS=$"_L $*
	}
	if not make -- $*
}
