_C=$CFLAGS
_P=$CPPFLAGS
_L=$LDFLAGS

. $PORTS/mk/config.rc

if (test -z $"_C) _C=$CFLAGS
if (test -z $"_L) _L=$LDFLAGS
if (test -z $"_P) _P=$CPPFLAGS

static=false
if (~ ' '$"_L' ' *' -static '*) {
	static=true
	PKG_CONFIG=$"PKG_CONFIG' --static'
}

switch ($PORTSYS_MK_FLAGS) {
case *'nocppflags'*
	_C=($_C $_P)
}

ACLOCAL='aclocal -I'$"PORTSYS_ROOTPWD/$"DRTDIR/aclocal
PKG_CONFIG_PATH=$"PORTSYS_ROOTPWD/$"DRTDIR/pkgconfig

PORTSYS_METH_ENV=(                                \
	AR'='$"AR                                 \
	CC'='$"CC                                 \
	CXX'='$"CXX                               \
	LD'='$"LD                                 \
	CFLAGS'='$"_C                             \
	CPPFLAGS'='$"_P                           \
	LDFLAGS'='$"_L                            \
	LDLIBS'='$"LDLIBS                         \
	ACLOCAL'='$"ACLOCAL                       \
	PKG_CONFIG'='$"PKG_CONFIG                 \
	PKG_CONFIG_PATH'='$"PKG_CONFIG_PATH       \
	PKG_CONFIG_SYSROOT_DIR'='$PORTSYS_ROOTPWD \
	PATH'='$"PATH                             \
	INSTALL'='$"INSTALL                       \
	YACC'='$"YACC                             \
	STRIP'='$"STRIP                           \
	RANLIB'='$"RANLIB                         \
	PREFIX'='$"PREFIX                         \
	BINDIR'='$"BINDIR                         \
	LIBDIR'='$"LIBDIR                         \
	ETCDIR'='$"ETCDIR                         \
	DFLDIR'='$"DFLDIR                         \
	MANDIR'='$"MANDIR                         \
	INCDIR'='$"INCDIR                         \
	TERM'='$"TERM                             \
	$PORTSYS_METH_ENV                         \
)
