#!/bin/rc
for (flag in $PORTSYS_MK_FLAGS) {
	switch ($flag) {
	case 'envtolist'
		CFLAGS=`{echo $CFLAGS}
		CPPFLAGS=`{echo $CPPFLAGS}
		LDFLAGS=`{echo $LDFLAGS}
	case 'dynamic'
		LDFLAGS=`{echo $LDFLAGS | sed 's/-static//g'}
		LDFLAGS=$"LDFLAGS
	case 'nocppflags'
		CFLAGS=$"CFLAGS' '$"CPPFLAGS
	}
}
